.vote{ display: none;}
.pn-vote{font-size: 14px;margin-top: 20px;}
.pn-vote h3 {padding-bottom: 5px; margin-bottom: 5px;font-size: 16px;font-weight: bold; }
.vote-meta { color: #666; margin-bottom: 1em;font-size: 14px;}
.vote-meta span{color: #cc0000;font-weight:bold;}
.vote-main dt, .vote-result dt {font-size: 16px; margin-bottom: 0.5em;}
.vote-main dd { -webkit-box-shadow:inset 0px 1px 0px 0px #fff; border: 1px solid #d1d1d1; padding: 0.5em; margin-bottom: 10px; font-size: 14px; border-left:3px solid #000;}
.vote-main dd:hover {  }
.vote-main dd span, .vote-result dd span {margin-right: 5px; }
.vote-result { display: none; }
.vote-result dd { padding: 10px 0; position: relative; }
.vote-result dd.voted { background-color: #eed; }
.vote-result dd ins { position: absolute; top:0; right: 10px; color: #9b9b9b; line-height: 4.5em; }
.vote-result .votes { margin-right: 60px; }
.vote-result dd ins { display: none; }
.vote-result dd:nth-child(n+1) .nums{display: inline-block; height: 10px; background-color: #7ec724;}
.vote-result dd:nth-child(2n+1) .nums{background-color:#5999e6;}
.vote-result dd:nth-child(3n+1) .nums{background-color:#8a2Be2;}
.vote-result dd:nth-child(4n+1) .nums{background-color:#d2691e;}
.vote-result dd:nth-child(5n+1) .nums{background-color:#008b8b;}
.vote-result dd:nth-child(6n+1) .nums{background-color:#b8860b;}
.vote-result dd:nth-child(7n+1) .nums{background-color:#8b008b;}
.vote-result dd:nth-child(8n+1) .nums{background-color:#8fbc8f;}
.vote-result dd:nth-child(9n+1) .nums{background-color:#2f4f4f;}
.vote-result dd:nth-child(10n+1) .nums{background-color:#ffd700;}